doctype html
html(lang = "ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Slider
    body
        .containerSlider
            .bodySlider
                span


        //- .containerElementSlider
        //-     .containerRow
        //-         .containerRow__price
        //-             .output.o0 
        //-             .output.o1 
        //-     .containerSlider
        //-         .containerSlider__slider
        //-             .track
        //-         .thumb.t0 
        //-         .thumb.t1
