doctype html
html(lang = "ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/3.2.0/mocha.js")
        script.
            mocha.setup('bdd');
        script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/3.5.0/chai.js")
        script.
            let assert = chai.assert;
        title Slider
    body
        div(id='mocha')
        .containerColumn
            .containerBlock
                .container1
                .containerPanel1(id='panel1')
            .containerBlock
                .container2
                .containerPanel2(id='panel2')
            .containerBlock
                .container3
                .containerPanel3(id='panel3')
