.containerSlider{
    margin: 50px;
}
.containerSlider3{
    margin: 100px;
}

.scale{
    border: 1px solid #6FCF97;
    width: 6px;
    height: 6px;
    border-radius: 5px;
    position: relative;
}

.thumb{
    cursor: pointer;
    border-color: #ffffff;
    border-style: solid;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 50%;
    position: absolute;
    height: 16px;
    width: 16px;
}

.interval{
    pointer-events: none;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}






// .containerElementSlider {
//     width: 40%;
// }

// .containerSlider{
//     position: relative;
// }

// .containerRow{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

// .containerRow__price{
//     display: flex;
//     flex-direction: row;
//     margin-bottom: 2rem;
// }

// .containerSlider__slider {
//     pointer-events: none;
//     margin: 0 0 0.7rem 0;
//     cursor: pointer;
//     padding-left: 20%;
//     padding-right: 20%;
//     background-color: #ffffff;
//     box-sizing: border-box;
//     border: 1px solid #6FCF97;
//     border-radius: 0.5rem;
// }
  
// .containerSlider__slider.focusable {
//     border: 1px solid #ffffff
// }
  
// .thumb {
//     cursor: pointer;
//     border-color: #ffffff;
//     border-style: solid;
//     background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
//     border-radius: 50%;
//     position: absolute;
// }
  
// .track {
//     pointer-events: none;
//     height: 100%;
//     background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
// }